.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  outline: none;
  display: inline-block;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: auto;
  display: inline-block;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.slogan {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}

.nav {
  width: 200px;
  height: 200px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  
}

/* .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 200px;
  background-color: white;
  padding: 10px;
} */

.nav:hover ul {
  display: block;
}

body {
  background-color: rgb(236, 236, 119);
}