.home-page {
  text-align: center;
  padding: 50px;

  img {
    border: 3px solid blue;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
  }
}
.image-container {
  position: relative;
  display: inline-block;
}
h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: skyblue;
}

.start-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  cursor: pointer;
}

.calculator-image { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}