.header {
  display: flex;
  justify-content: space-evenly;
  outline: none;
  padding: 0.5rem;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: auto;
  display: inline-block;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.slogan {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}

.nav {
  width: 200px;
  height: 200px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  
}



.nav:hover ul {
  display: block;
}

.Title {
  color: skyblue
} 

.slogan {
  color: skyblue;
}

